form {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 24px;
  width: 360px;
}
.label-delay {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.label-delay input {
  border: 1px solid #808080;
  border-radius: 4px;
  
  height: 40px;
  padding: 0 16px 0 16px;
}
fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  display: flex;
  column-gap: 48px;
  padding-top: 24px;
  justify-content: center;
  margin-bottom: 24px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
